html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-image: radial-gradient(circle at 1px 1px, #f0f0f0 1px, transparent 0);
    background-size: 10px 10px;
    font-family: "Courier New";
    padding: 5%;
}

.grid {
    display: grid;
    gap: 5%;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: fit-content;
    margin-bottom: 5%;
}

.grid > article {
    height: fit-content;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

button {
    margin: 0 25px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 50%;
}